  
  /* Style pour le titre */
  .request-p {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Style pour chaque demande d'ami */
  .member {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #aaa;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  /* Style pour la vignette de l'ami */
  .thumb img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  /* Style pour la description de la demande d'ami */
  .description {
    margin-left: 20px;
  }
  
  /* Style pour les boutons */
  .button-32-A {
    margin-top: 10px;
    flex: 1; /* Ajoutez ceci pour que les boutons occupent un espace égal dans le conteneur */
    margin-right: 30px; /* Espacement entre les boutons */
    font-family: 'Bebas Neue', cursive;;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(32, 158, 27) ;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-32-R {
    margin-top: 10px;
    flex: 1; /* Ajoutez ceci pour que les boutons occupent un espace égal dans le conteneur */
    margin-right: 30px; /* Espacement entre les boutons */
    font-family: 'Bebas Neue', cursive;;
    font-size: 10px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(184, 35, 35) ;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-32-A:hover {
    background-color: #cae4d0;
  }
  
  .button-32-R:hover {
    background-color: #f5d0c4;
  }