   
  .container-chatbox {
      margin: 80px auto;
      background: #fff;
      padding: 0;
      border-radius: 7px;
      width: 80%;
      max-width: 1200px;
      height: 70vh;          /* Percentage of the viewport's height */
      max-height: 800px;     /* Maximum height */
      min-height: 300px;     /* Minimum height */
  }

  .aside-content {
      width:20%;
      height:100%;
      background-color:#2b787a;
      display:inline-block;
      font-size:15px;
      vertical-align:top;
      border-radius: 7px;
  }

  .aside-content ul{
    padding-left:0;
    margin:0;
    list-style-type:none;
    overflow-y:scroll;
    height:100%;
    border-radius: 7px;
  }
  .aside-content li{
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    border: 1px solid #3aafA9;
  }
  .aside-content li:hover{
    background-color:#3aafA9;
  }

  .aside-content li div{
    display:inline-block;
    vertical-align:top;
    margin-top:12px;
  }
  .aside-content li h2{
    font-size: 20px;
    color:#fff;
    margin-bottom:5px;
  }

  .main-box {
    width: 80%;
    height: 100%;
    display:inline-block;
    font-size:15px;
    vertical-align:top;
    border-radius: 7px;
    background-color: rgb(61, 167, 167);
  }