/* Navbar styles.css */

.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0.1em 0;
    align-items: center;
    background-color: black;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.links-container {
    display: flex;
    justify-content: left;
    display: flex;
    align-items: center;
    margin-right: auto;
    flex-grow: 1;
    margin-right: 1em; /* Ajouté pour donner un peu d'espace entre le bouton de menu et les autres liens */
}

.router-link {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
    margin: 0 1em;
}

.router-link:hover {
    color:gold;
}

.logo {
    height: 40px;
    margin-left: 1em; /* Ajouté pour donner un peu d'espace sur le côté gauche */
}

/* Style pour le bouton du menu déroulant */
.dropbtn {
    background-color: transparent;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer; /* Ajout de cette ligne */
    border: none;
    margin: 0 1em;
    outline: none;
    transition: color 0.2s ease;
}

.dropbtn:hover {
    color: gold;
}

/* Style pour le menu déroulant */
.dropdown {
    position: absolute;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

.dropdown-content {
    display: flex;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1001; /* pour s'assurer qu'il apparait au-dessus des autres éléments */
    flex-direction: column;
    transform: translateY(-10px); /* pour le décaler un peu vers le haut */
    opacity: 0;  /* initialement transparent */
    visibility: hidden; /* pour qu'il ne soit pas interactif quand il est caché */
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    right: 0;
}

.dropdown-content .router-link {
    text-align: left;
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


/* Styling the Search Dropdown Container */
.search-results- {
  max-height: 250px;  /* Maximum height of the dropdown */
  overflow-y: auto;   /* Add a vertical scrollbar if content overflows */
  border: 1px solid #e5e5e5; /* Adds a border around dropdown */
  background-color: rgb(150, 150, 150); /* Light grey background */
  border-radius: 5px; /* Rounds the corners of the dropdown */
  width: 100%; /* Takes up the full width of its parent element */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adds a slight shadow */
  margin-top: 0.5em; /* Adds space between search input and dropdown */
}

/* Styling each Search Result */
.search-results- > div {
  border-bottom: 1px solid #e5e5e5; /* Adds a line after each item */
  padding: 1% 4%; /* Padding for each item */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.search-results- > div:hover {
  background-color: rgb(246, 195, 9); /* Change background color on hover */
}

/* Styling the Link of each Search Result */
.search-results- {
  position: absolute;   /* Added */
  top: 100%;            /* Makes it appear right below the search input */
  z-index: 1002;
  text-decoration: none; /* Remove the underline from links */
  color: black; /* Set text color to black */
  display: block; /* Makes the entire area clickable */
  width: 20%;
  height: 200%;
}

.search-results- a:hover {
  text-decoration: underline; /* Add underline on hover for better visibility */
}

.user-result {
  display: flex;
  align-items: center; /* Vertically aligns the avatar and username */
}

.user-avatar {
  width: 30px;   /* Adjust to your preferred size */
  height: 30px;
  border-radius: 50%;  /* Makes the avatar round */
  margin-right: 10px;  /* Adds some space between the avatar and username */
}

.user-result a {
  display: flex;
  align-items: center; /* Ensures avatar and username are vertically aligned within the link */
  width: 100%; /* Makes sure the link spans the entire width of its container */
}