
  /* REQUEST FRIENDS */

  /* Style pour le titre */
  .request-content .request-p {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Style pour chaque demande d'ami */
  .request-content .member {
    background-color: #2b7a78;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #aaa;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  .request-content h3 {
    color: #3aafa9;
  }

  .request-content p {
    color: #def2f1;
  }
  
  /* Style pour la vignette de l'ami */
  .request-content .thumb img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
  }
  
  /* Style pour la description de la demande d'ami */
  .request-content .description {
    margin-left: 20px;
  }



  /* FRIENDS LIST */

   /* Style pour le titre */
   .friends-content .p {
    font-size: 2em;
    margin-bottom: 20px;
  }


  .friends-content .member {
    border: 3px solid #3aafa9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #aaa;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
  
  
  .friends-content h3 {
    color: #3aafa9;
    /* margin: 0; */
  }
  
  .friends-content p {
    color: #17252a;
    /* margin: 0; */
  }
  
  /* .friends-content .thumb {
    flex: 0 0 30%;
    padding-right: 20px;
  } */
  
  .friends-content .thumb img {
    border-radius: 50%;
    width: 70%;
    height: 60%;
  }
  
  .friends-content .description {
    flex: 1; 
  }
  

  /* GAME HISTORIES */

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border: 2px solid #17252a;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    border: 2px solid #17252a;
    background: #2b7a78;
}


/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}