@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans&family=Share+Tech&display=swap');

/* ********************************/
/* ***       TabChat PAGE       ***/
/* ********************************/

.channels_page {
  border: black solid;
    border-radius:10px;
    height: 78vh;
    overflow-y: auto;  /* <-- Ajoutez cette ligne */
    background-color: rgb(255, 255, 255);
}

#channels_page_title {
    /* font-family: 'Courier New', Courier, monospace ; */
    font-weight: 600;
    font-size: x-large;
    background-color: gold;
    color: rgb(10, 10, 10);
    padding: 1rem;
}


.channels_page-noconv {
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    color: rgb(10, 10, 10);
    text-decoration-line: underline;
}

.channels_page-noconv > h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: rgba(128, 128, 128, 0.486);

}

.channels_page-noconv > h6{
    font-size: medium;
    text-align: center;
}

#channels_page_joinedscroll {
    border: black solid;
    overflow: auto;
  overflow-x:hidden;
}

/* ********************************/
/* ***  ChannelLink COMPONENT   ***/
/* ********************************/

.channel-link-card {
    border-bottom: solid 1px black;
    padding: 1.2em;

    display : flex;
    flex-direction: column;

    scroll-behavior: auto;
}

.channel-link-card:hover {
    background-color: gold;
}

.channel-link-header {
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
}

.channel-link-name {
    font-weight: 400;
    font-size: x-large;
    text-decoration-line: underline;
    color: rgb(7, 7, 7);
}

.channel-link-span {
    font-family: 'Open Sans', sans-serif;
    font-size: small;

    padding: 0.3rem 1rem;
    margin: 0.5rem;
    border-radius: 10%;

    background-color: rgb(241, 175, 32);
    color: white;
}

.channel-link-member {
    font-size: medium;
    margin-top: 10%;
    margin-left: 10px;
}

.channel-link-invite {
    color: white;
}

.channel-link-invite:hover {
    color: rgb(23, 25, 27);
}

.channel-link-invite-card {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 0 1vw;
    background-color: rgb(241, 175, 32);
    width: 100%;
}

.channel-link-preview {
    border-style: dashed solid;
    padding: 10px;

    font-family: 'Open Sans', sans-serif;
    color: black;
    display: flex;
    justify-content: space-between; /* cela garantira que link-messenger est à gauche et link-date est à droite */
    align-items: center;
}

.channel-link-messenger {
    color: black;
    font-weight: 600;
    margin-right: auto;
}

.channel-link-lastmsg {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    margin-left: 20px;
    position: relative; /* Si vous avez besoin de le positionner par rapport à .messenger-container */
    
    /* Pour le style de bulle de message : */
    padding: 5px 10px; /* Espace intérieur pour le message */
    background-color: #e0e0e0; /* Couleur de fond de la bulle. Ajustez selon vos préférences */
    border-radius: 15px; /* Pour les coins arrondis de la bulle */
    max-width: 200px; /* Ajustez selon vos préférences */
    word-wrap: break-word; /* Pour casser les longs mots et les garder à l'intérieur de la bulle */
}

.channel-link-date {
    font-size: small;
    margin-left: auto;
    margin-bottom: 42px;
}

.channel-link-password-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(241, 175, 32);
}