@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans&family=Share+Tech&display=swap');

/* ********************************/
/* ***       TabChat PAGE       ***/
/* ********************************/


span {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Set "Helvetica Neue" as primary font */
  font-size: calc(60% + 0.5vw);
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  main .header_channels{
    height:110px;
    padding:30px 20px 30px 40px;
    background-color: #2b7a78;
  }
  main .header_channels > *{
    display:inline-block;
    vertical-align:top;
  }
  main .header_channels img:first-child{
    border-radius:50%;
  }
  main .header_channels img:last-child{
    width:24px;
    margin-top:8px;
  }
  main .header_channels div{
    margin-left:10px;
    margin-right:145px;
  }
  main .header_channels h2{
    font-size:16px;
    margin-bottom:5px;
  }
  main .header_channels h3{
    font-size:17px;
    font-weight:normal;
    color:#def2f1;
  }


.channels_page-noconv {
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
    color: rgb(10, 10, 10);
    text-decoration-line: underline;
}



#channels_page_joinedscroll {
    border: #fff solid 2px;
    overflow: auto;
  overflow-x:hidden;
}

.channel-link-.header_channels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5; /* Optional: adds a line after each item */
  padding: 1% 4%;
  background-color: rgb(150, 150, 150);
}

.channel-link-item:hover {
  filter: brightness(0.9); /* This darkens the item a bit */
  background-color: rgba(0, 0, 0, 0.01); /* Optional: If you want to add a slight grey overlay on hover */
}

.channel-link-item {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #e5e5e5; /* Optional: adds a line after each item */
  padding: 2% 2%;
  background-color: #3aafa9;
  cursor: pointer;
  transition: filter 0.1s ease-in-out, background-color 0.1s ease-in-out; /* This adds a smooth transition effect */
}

.channel-link-name {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  text-align: left;
}

.channel-link-mode {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-members {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-last-update {
  width: 28%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-msg-count {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-join-btn {
  width: 15%;
  background-color: #4CAF50;
  color: white;
  margin-right: 0.3em;
  margin-left: 0.3em;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;  /* center the button text */
}
.channel-link-join-btn:hover {
  background-color: #45a049; /* Change as desired */
}

.channel-link-blank {
  width: 15%;
  margin-right: 0.3em;
  margin-left: 0.3em;
  padding: 5px 15px;
}

.truncate-link-text {
  white-space: nowrap;    /* Prevent text from wrapping onto the next line */
  overflow: hidden;       /* Hide overflowed text */
  text-overflow: ellipsis;/* Show ellipsis when text is too long */
  max-width: 100%;        /* Optional, ensures content doesn't grow past container */
}

.search-container {
  position: relative;
}

.channels_page input{
	width:100%;
	height:50px;
	line-height:50px;
	padding:0 50px 0 20px;
	background-color: #def2f1;
	border:none;
	border-radius:3px;
	color:#2b7a78;
	background-repeat:no-repeat;
	background-position:170px;
	background-size:40px;
  font-family: "Montserrat", sans-serif;
}

.channels_page input::placeholder{
	color: grey;
}