@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans&family=Share+Tech&display=swap');

/* ********************************/
/* ***       TabChat PAGE       ***/
/* ********************************/
/* 
.convo__card {
  background-color: white;
} */

.convo__content_card {
  display: flex;        /* Enables flexbox */
  flex-direction: column;/* Column direction so that children stack vertically */
  width: 80%;
  max-width: 800px;
  height: 70vh;
  max-height: 700px;
  min-height: 300px;
  margin: 0 auto;
}

.convo__card {
  flex: 5; /* This will take up more space than the bottom */
  overflow-y: auto;
}

.convo__card * {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.convo__bottom {
  flex: 1; /* This will take up less space compared to the card */
  max-height: 80px;
  width: 100%;
  background-color: #2B7A78;
  border: #2B7A78 solid 2px;
  padding: 5%;
}

.convo__header {
  background-color: #2B7A78;
  padding: 1.5% 1.5% 1.5% 1.5%;
}

.convo__header > p {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

.convo__header_title {
  display: flex;
  justify-content: space-between;
}

#convo__header_leave-btn {
  /* width: 60%;
	height: 40px; */
	/* margin: 10px auto; */
	/* justify-content: center; */
  /* width: 20%;
	height: 40px;
	display: block;
	color: #fff;
	background: #3aafa9;
	font-size: 1em;
	font-weight: bold;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer; */
  color: #e3eef1;
  display: block;
  color: #fff;
  background: #3aafa9;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
  padding: 0.3em;
}


#convo__name {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: large;
  text-decoration-line: underline overline;
    font-weight: bold;
    color: #def2f1;
}

#convo_send-btn {
  color: #e3eef1;
  display: block;
  color: #fff;
  background: #3aafa9;
  font-size: 1em;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
  padding: 0.3em;
}

#convo__form {
  text-align: center;
  display: flex;
  gap: 1%;
}

#convo__messages {
  /* background-color: white;
  border: solid;
  position: relative;
  overflow: scroll;
  overflow-x:hidden;
  overflow-y: auto;
  overflow-anchor: none;
  height: 45vh; */
  padding-left:0;
	margin:0;
	list-style-type:none;
	overflow-y:scroll;
	height:535px;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}

#convo__messages * {
  overflow-anchor: none;
  color: black;
}

#convo__messages_anchor {
  overflow-anchor: auto;
  color: black;
  height: 1px;
}

#chat_no-chat {
  padding-top: 40%;
  height: 100%;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  /* font-family: 'Courier New', Courier, monospace; */
  text-align: center;
  color: rgb(0, 0, 0);
  background-color: white;
}

/* ********************************/
/* ***    COMPONENT   ***/
/* ********************************/

.one__msg {
  margin: 1em;
  display: flex;
  gap: 5px;
}

.one__msg_me {
  height: 20%;
  	width: 40%;
  	background-color: var(--main-dark-color);
  	border-radius: 10%;
}

.one__msg_info {
  /* padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
	border-radius:5px; */
  display: flex;
  flex-direction: column;

}

.one__msg_header {
  font-size: 10px;
  display: flex;
  gap: 5px;
  align-items: center;
  color: white;
}

.one__msg_avatar {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.one__msg_content {
  background-color: rgb(126, 147, 167);
  padding: 5px;
  border-radius: 10px;
  margin-top: 1px;
}

.one__msg_content_me {
  background-color: rgb(241, 175, 32);
  /* background-color:#58b666;
  padding: 5px;
  border-radius: 10px;
  margin-top: 1px; */
  margin: 1em;
  /* display: flex; */
  gap: 5px;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: right;
  
}

.options__icon {
  color: white;
  height: 23px;
  width: auto;
}

.options__icon:hover {
  color: rgb(118, 167, 197);
  height: 28px;
  width: auto;
}

/* Variante OneMessage pour infos sur rôle */
.one__msg_role {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 15px 0;
}

.one__msg_header_info {
  font-size: 1.2rem;
  color: rgb(105, 105, 105);
}

.one_msg_announcement {
  font-style: italic;
  background-color: rgb(53, 61, 131);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1px;
}

.one_msg_invitation {
  display: flex;
  gap: 2.5vw;
  font-size: 1.5em;
  font-weight: 800;
}
.one_msg_check {
  color: green;
}

.one_msg_xmark {
  color: rgb(128, 0, 0);

}

.one_msg_check:hover, .one_msg_xmark:hover {
  font-size: 1.55em;
  cursor: pointer;
}

/* ********************************/
/* ***  ChannelType COMPONENT   ***/
/* ********************************/

.chantype {
  display: flex;
  gap: 0.5em;
}

#fa_see_more {
  cursor: pointer;
  color: white;
}

#chan_header_changetype {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
}

#chantype_select {
  cursor: pointer;
  background: none;
  text-align: center;
  color: rgb(39, 38, 38);
  border: solid  1px rgba(30, 30, 58, 0.383);
}


#chantype_addpwd[type=password] {
  padding:10px;
  border:0;
  border-radius:5px;
  font-family: 'Bruno Ace SC', cursive;
  color: white;
  resize: vertical;
}

#chantype_addpwd[type=password]:hover {
  border:0;
  border-bottom:0.5px solid #eee;
}

#chantype_confirmbtn {
  cursor: pointer;

  font-family: var(--font-type);
  font-size: 0.65em;

  border: 2px solid rgb(35, 71, 103);

  background-color: transparent;
  color: #e3eef1;
}