@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Open+Sans&family=Share+Tech&display=swap');

/* ********************************/
/* ***       TabChat PAGE       ***/
/* ********************************/

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Set "Helvetica Neue" as primary font */
  background-image: url('./assets/background.jpg');
  font-size: 0.9em;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.channels_page {
  border: black solid;
    border-radius:10px;
    height: 78vh;
    overflow-y: auto;  /* <-- Ajoutez cette ligne */
    background-color: rgb(100, 100, 100);
}

#channels_page_title {
    /* font-family: 'Courier New', Courier, monospace ; */
    background-color: gold;
    color: rgb(10, 10, 10);
    padding: 1rem;
}


.channels_page-noconv {
    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    color: rgb(10, 10, 10);
    text-decoration-line: underline;
}

.channels_page-noconv > h3{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: rgba(128, 128, 128, 0.486);

}

.channels_page-noconv > h6{
    font-size: medium;
    text-align: center;
}

#channels_page_joinedscroll {
    border: black solid;
    overflow: auto;
  overflow-x:hidden;
}

/* ********************************/
/* ***  ChannelLink COMPONENT   ***/
/* ********************************/

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif; /* Set "Helvetica Neue" as primary font */
  background-image: url('./assets/background.jpg');
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.channel-link-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  border-bottom: 1px solid #e5e5e5; /* Optional: adds a line after each item */
  padding: 1% 4%;
  background-color: rgb(150, 150, 150);
}

.channel-link-item:hover {
  filter: brightness(0.9); /* This darkens the item a bit */
  background-color: rgba(0, 0, 0, 0.01); /* Optional: If you want to add a slight grey overlay on hover */
}

.channel-link-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e5e5; /* Optional: adds a line after each item */
  padding: 1% 4%;
  background-color: rgb(150, 150, 150);
  cursor: pointer;
  transition: filter 0.1s ease-in-out, background-color 0.1s ease-in-out; /* This adds a smooth transition effect */
}

.channel-link-name {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-mode {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-members {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-last-update {
  width: 28%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-msg-count {
  width: 18%;  /* Example width */
  margin-right: 0.3em;
  margin-left: 0.3em;
  color: black;
  text-align: left;
}

.channel-link-join-btn {
  width: 15%;
  background-color: #4CAF50;
  color: white;
  margin-right: 0.3em;
  margin-left: 0.3em;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;  /* center the button text */
}
.channel-link-join-btn:hover {
  background-color: #45a049; /* Change as desired */
}

.channel-link-blank {
  width: 15%;
  margin-right: 0.3em;
  margin-left: 0.3em;
  padding: 5px 15px;
}

.truncate-link-text {
  white-space: nowrap;    /* Prevent text from wrapping onto the next line */
  overflow: hidden;       /* Hide overflowed text */
  text-overflow: ellipsis;/* Show ellipsis when text is too long */
  max-width: 100%;        /* Optional, ensures content doesn't grow past container */
}
