/* Navbar styles.css */
.navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 em;
    background-color: black;
    z-index: 1000;
    backdrop-filter: blur(10px);
}

.links-container {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-grow: 1;
}

.router-link {
    color: white;
    font-family: 'Bebas Neue', cursive;;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: color 0.2s ease;
    text-decoration: none;
    margin: 0 1em;
}

.router-link:hover {
    color:gold;
}

.logo {
    height: 40px;
}
