/* Footer styles.css */
.footer-container {
    position: fixed;
    bottom: 0;               /* To pin it to the bottom of the screen */
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
    background-color: black;
    z-index: 1000;
    padding: 8px;
    color: white;
    font-size: 0.7rem;
}